adf_resources/pipeline/CopyPipeline_nyc_data.json
{
	"name": "CopyPipeline_nyc_data",
	"properties": {
		"activities": [
			{
				"name": "Copy_nyc_data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Destination",
						"value": "raw-data/nyc_data/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings",
							"skipLineCount": 0
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ""
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "nyc_source_dataset",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@pipeline().parameters.url",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "nyc_dest_dataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@last(split(pipeline().parameters.url, '/'))",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get column count",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy_nyc_data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "nyc_dest_dataset",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@last(split(pipeline().parameters.url, '/'))",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"columnCount",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get column count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get column count').output.columnCount, 20)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": {
											"value": "@activity('Get column count').output.itemName",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"validateDataConsistency": true,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "nyc_dest_dataset",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@activity('Get column count').output.itemName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Archive_files",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"url": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-08T06:31:50Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}