adf_resources/pipeline/value_pipeline.json
{
	"name": "value_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Validate-data",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gabriel.illes@tsiddappagile.onmicrosoft.com/clean_data"
				},
				"linkedServiceName": {
					"referenceName": "Databricks_cluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Ride-statistics",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Validate-data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gabriel.illes@tsiddappagile.onmicrosoft.com/nyc_rides_stats"
				},
				"linkedServiceName": {
					"referenceName": "Databricks_cluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Financial_statistics",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Validate-data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/gabriel.illes@tsiddappagile.onmicrosoft.com/financial_stats"
				},
				"linkedServiceName": {
					"referenceName": "Databricks_cluster",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy to Archive",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Ride-statistics",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Financial_statistics",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "nyc_dest_dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Archive_files",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Delete processed file",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Copy to Archive",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "nyc_dest_dataset",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get column count",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "nyc_dest_dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get column count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get column count').output.columnCount, 25)",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-07T16:01:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}